* {
    box-sizing: border-box;
  
  }
  header {
      display:block;
     background-color: rgb(36, 34, 33);
  }
header nav {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
}

header nav img {
 margin-top:5px;
 margin-right: 50px;
    width: 200px;
    height: 70px;
}

header nav li {
    float: right;
    padding: 15px;
    font-size: 30px;
    color: rgb(253, 251, 253);
    margin-top: 15px;
    margin-right: 20px;
    margin-left:20px;
    border-radius: 100%;
    /* background-color: rgb(230, 200, 195); */
}
main {
    margin-top: 30px;
    margin-left: 100px;
}
main section nav img {
    width: 960px;
    height: 450px;
}

main section p img {
    width: 300px;
    height: 375px;
    margin-right: 26px;
  
}

main article img {
    width:480px ;
    height:400px ;
}
section article {
display: inline-block;
position: relative;
}
#feature2{
    margin-top: 40px;
    width: 380px;
    height: 400px;
    margin-left: 20px;
    text-justify: distribute;
    float: right;
}

#feature{
    display: inline-block;
    text-align: left;
    position: absolute;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
}
section article li {
    display:inline;
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 300px;
    margin-left: 100px;
    float:right;
   padding: 20px;
   background-color: rgb(15, 15, 15);
   border-radius: 10%;
}
footer p {
    background-color: rgb(110, 108, 107);
    -webkit-text-size-adjust:20 ;
    padding-top: 30px;
    text-align: center;
    height: 100px;
    font-size: 25px;
}